.form-margin {
  margin-bottom: 12px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 64px;
}